/* Feuille de style 5Project */

* {
    font-family: 'Ubuntu', sans-serif;
}

.body {
    width: 100%;
    background: #f1f1f1;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #7594ff;
    padding: 20px;
    margin-top: 10px;
}

.header {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #7594ff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.fonct {
    background-color: #b4c5ff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: auto;
}

#map {
    height: 300px;
}

table,
th,
td {
    border: 1px solid #7594ff;
}

th,
td {
    padding: 10px;
}


/* title effect */

.title {
    margin-top: 60px;
}

.title h1 {
    font-family: 'Audiowide';
    font-size: 5em;
    height: 75px;
    -webkit-animation: floating-text 2s ease alternate infinite;
    -moz-animation: floating-text 2s ease alternate infinite;
    -ms-animation: floating-text 2s ease alternate infinite;
    -o-animation: floating-text 2s ease alternate infinite;
    animation: floating-text 2s ease alternate infinite;
}

.title p {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    width: 100%;
    bottom: 10em;
    font-weight: 300;
}

.title a {
    text-decoration: none;
    color: #fff;
}

@-webkit-keyframes floating-text {
    0% {
        -webkit-transform: translateY(.1em);
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
    }
}

@-moz-keyframes floating-text {
    0% {
        -moz-transform: translateY(.1em);
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
    }
}

@-ms-keyframes floating-text {
    0% {
        -ms-transform: translateY(.1em);
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
    }
}

@-o-keyframes floating-text {
    0% {
        -o-transform: translateY(.1em);
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
    }
}

@keyframes floating-text {
    0% {
        transform: translateY(.1em);
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
    }
}