/* Blue/principal stylesheet for 5Project */

* {
    font-family: 'Ubuntu', sans-serif;
}

.body {
    width: 100%;
    background: #b4c5ff;
    background-color: #b4c5ff;
}

#content {
    display: flex;
    flex-direction: column;
}

#dateJ {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.navbar-my {
    background-color: #7594ff;
}

#menu {
    width: 100%;
    margin-bottom: 75px;
}

.col {
    width: 100%;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #7594ff;
    padding: 20px;
    margin-top: 10px;
}

.header {
    width: 100%;
    height: 95px;
    text-align: center;
    background-color: #7594ff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 65px;
}

.bloc-column {
    min-width: 350px;
}

.admin {
    width: 85%;
    margin-left: 10%;
    margin-right: 5%;
    background-color: #b4c5ff;
    padding: 10px;
    margin-top: 15px;
}

.usages {
    width: 85%;
    margin-left: 10%;
    margin-top: 30px;
    background-color: #b4c5ff;
    border-radius: 10px;
    padding: 15px;
}

.technic {
    width: 85%;
    margin-left: 10%;
    margin-top: 30px;
    background-color: #b4c5ff;
    border-radius: 10px;
    padding: 15px;
}

a.pages {
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
}

.paginate {
    text-align: center;
}

#fonct {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

#rss {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

#wiki {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

#weather {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

#map {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin-bottom: 15px;
    height: 220px;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

#bitcoin {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

.search {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

.qwant {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#files {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

#todo {
    width: 100%;
    background-color: #b4c5ff;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin-bottom: 15px;
    height: auto;
    border: 2px solid #17a2b8;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

.p-3 {
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.75);
}

.fileUp {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fileList {
    margin-top: 10px;
    margin-bottom: 10px;
}

tr:hover {
    background-color: #bfdfff;
}

.task {
    background-color: #e8e8e8;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
}

.legal {
    background-color: #e3e3e3;
    padding: 20px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.about {
    background-color: #e3e3e3;
    padding: 20px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.card {
    margin-top: 5px;
    margin-bottom: 25px;
}

.error {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 60px;
    margin-top: 130px;
    background-color: #ff6d61;
}

.page {
    text-align: center;
    padding-top: 5px;
}

.footer a {
    color: #212529;
    text-decoration: underline;
}

.formulaireLogin {
    width: 40%;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #b4c5ff;
    margin-top: 25px;
    margin-bottom: 50px;
}

.formulaireCreation {
    width: 75%;
    border-radius: 10px;
    background-color: #b4c5ff;
    padding: 20px;
}

.formulaireEdit {
    width: 95%;
    border-radius: 10px;
    background-color: #b4c5ff;
    padding: 20px;
}

#map {
    height: 350px;
}

table,
th,
td {
    border: 1px solid #7594ff;
}

td,
qwant {
    width: 100%;
}

th,
td {
    border: 1px solid #7594ff;
    padding: 10px;
}

#side {
    width: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #17a2b8;
}

#cont {
    width: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 10px;
}

.logo {
    text-align: center;
}

.about h2 {
    background-color: #b4c5ff;
    padding: 5px;
}

#side h2 {
    background-color: #17a2b8;
}

.legal h2 {
    background-color: #b4c5ff;
}

#cont h2 {
    background-color: #17a2b8;
}


/* Responsive display for table */

@media screen and (max-width: 850px) {
    table {
        border: 0;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}


/* responsive for all app */

@media screen and (max-width: 700px) {
    #side h2 {
        font-size: 1.2em;
    }
    #side h4 {
        font-size: 1em;
    }
    #cont h2 {
        font-size: 1.2em;
    }
    #cont h4 {
        font-size: 1em;
    }
    .formulaireLogin {
        width: 80%;
    }
}