{% extends 'base.html.twig' %}

{% block title %}5Project - A propos{% endblock %}

{% block content %}
<main role="main" class="container-fluid">

<div class=".container-fluid">
  <div class="row">

<div class="about">

<h2><img src="images/brand.png" alt="logo 5Project"> A propos de 5Project</h2>
<br>
<div class="usages">
<h3>Usage</h3>
<p>5Project est un portail web personnel permettant à un utilisateur d'accéder à diverses données et informations, en utilisant notamment la géolocalisation.
Ce portail permet de stocker des fichiers (de petite taille), d'accéder à la météo, de consulter un flux RSS ou encore de gérer une todolist.
</p>
</div>

<div class="technic">
<h3>Technique</h3>
<p>Techniquement, il est construit en HTML, CSS, JS, PHP et utilise le framework CSS Bootstrap. Il nécessite une base de données MySQL pour gérer certaines données.
La météo est récupérée depuis Openweathermap et la carte grâce à Leaflet (qui utilise OpenSteetMap). Les données comme les fichiers où la todolist sont stockées sur le serveur.
5Project utilise majoritairement des services libres ou respectueux de la vie privée des utilisateurs (dont le moteur de recherche Qwant) et permet donc à l'utilisateur de garder un véritable contrôle sur ses données personnelles.
</p>
</div>

  </div>

  </div>
  </div>
    
  </main>

{% endblock %}
