{% extends 'base.html.twig' %}

{% block importJS %}
{% endblock %}

{% block title %}5Project - Gestion des utilisateur{% endblock %}

{% block content %}

<main role="main" class="container-fluid">


<div class=".container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="p-3 bg-info text-white"><h2>Administration</h2></div>
        <p><h4>Utilisateurs</h4></p>
<p>
{% if session.login is defined and session.login is not null%}
Connecté : {{ session.login }}
{% endif %}
</p>
    <p><a href="index.php?action=logout">Se déconnecter</a></p>
    <p><a href="index.php?action=gestionU">Gérer les utilisateurs</a></p>
    <p><a href="index.php?action=creationUser">Créer un utilisateur</a></p>
    </div>

    <div class="col-9">
      <div class="p-3 mb-2 bg-info text-white"><h2>Informations</h2></div>


<div id="list">
        <h2>Liste des utilisateurs</h2>

        <!-- Récupération des informations des utilisateurs -->

<table>
      <tr>
        <th>ID</th>
        <th>Identifiant</th>
        <th>Mail</th>
        <th>Date de création de compte</th>
        <th>Editer</th>
        <th>Supprimer</th>
</tr>

<tr>
<?php
        while ($data = $users->fetch()) {
            ?>

        <td><?php echo nl2br(htmlspecialchars($data['id'])); ?></td>
        <td><?php echo nl2br(htmlspecialchars($data['login'])); ?></td>
        <td><?php echo htmlspecialchars($data['mail']); ?></td>
        <td><?php echo htmlspecialchars($data['creation']); ?></td>
        <td><a href="../index.php?action=viewEditUser&amp;id=<?php echo $data['id']; ?>">Editer</a></td>
        <td><a href="../index.php?action=deleteUser&amp;id=<?php echo $data['id']; ?>">Supprimer</a></td>
   </tr>     

        <?php
        }
        $users->closeCursor();
        ?>

    </table>

      </div>

</div>
</div>
    
</main>

{% block js %}
    <script src="js/date.js"></script>
    <script src="js/browser.js"></script>
{% endblock %}

  </div>
  </div>
    
{% endblock %}