<div class="p-3 bg-info text-white"><h5>Bitcoin</h5></div>
<div class="fonct">

<ul>
{% for crypto in bitcoin %}

    <li>Un euro vaut : {{ crypto.priceEUR }}</li><br>
    <li>Un dollar vaut : {{ crypto.priceUSD }}</li><br>

{% endfor %}
</ul>

</div>

</div>
