<div class="p-3 bg-info text-white"><h5>Cours du Bitcoin</h5></div>
<div id="fonct">

<ul>
{% for crypto in bitcoin %}

    <li>Un bitcoin vaut : <strong> {{ crypto.priceEUR }} euros</strong></li><br>
    <li>Un bitcoin vaut : <strong> {{ crypto.priceUSD }} dollars</strong></li><br>

{% endfor %}
</ul>

</div> 
