{% extends 'base.html.twig' %}

{% block importJS %}
{% endblock %}

{% block title %}5Project - Editer un utilisateur{% endblock %}

{% block content %}

<main role="main" class="container-fluid">
  <div class=".container-fluid">
<div class="row">
 
      <div class="col-sm-4 p-4">
      <div id="side">
      <h2>Administration</h2>
      <p><h4>Utilisateurs</h4></p>
<p>
{% if session.login is defined and session.login is not null%}
<i class="fas fa-address-card"></i> : {{ session.login }}
{% endif %}
</p>

    <p><a href="index.php?action=logout">Se déconnecter</a></p>
    <p><a href="index.php?action=gestionU">Gérer les utilisateurs</a></p>
    <p><a href="index.php?action=creationUser">Créer un utilisateur</a></p>
    </div>
</div>


   <div class="col-sm-8 p-4">
      <div id="cont">

<div class="envoie">
    <h2>Editer un utilisateur</h2>

<form action="index.php?action=editUserL&id={{ userEd.id }}" method="post">
  <div class="form-group">
    <label for="identifiant">Nom</label>
    <input type="text" class="form-control" name="login" id="login" value={{ userEd['login'] }}>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="mail" id="mail" value={{ userEd['mail'] }}>
  </div>
  <div class="form-check">
  <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>

</div>

</main>

{% block js %}
    <script src="js/date.js"></script>
    <script src="js/browser.js"></script>
{% endblock %}

  </div>
  </div>
    
{% endblock %}
