<div class="p-3 bg-info text-white"><h5>Fichiers</h5></div>
<div class="fonct">

<div class="fileUp">
<form enctype="multipart/form-data" action="?action=upload" method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="7340032" />
    Transférer le fichier <input type="file" name="monfichier" />
    <input type="submit" />
  </form>
<div>
  
<div class ="fileList">
<table>
<tr>
    <th>Nom du fichier</th>
    <th>Taille (octets)</th>
    <th>Supprimer</th>
    </tr>
{% for list in fileL %}
    
    <tr>
        <td>{{ list.name }}</td>
        <td>{{ list.size }}</td>
        <td><a href="index.php?action=deleteF&amp;file={{ list.path }}">Supprimer</a></td>
    </tr>
{% endfor %}
</table>  
</div>

  </div>

</div>
