<div class="p-3 bg-success text-white"><h5><i class="fas fa-file-upload"></i> Envoie de fichiers</h5></div>
<div id="fonct">

<div class="fileUp">
<form enctype="multipart/form-data" action="?action=upload" method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
    Transférer le fichier <input type="file" name="monfichier" />
    <input type="submit" />
  </form>
</div>

<div class ="fileList">

<table>
<tr>
    <th>Nom du fichier</th>
    <th>Taille en kilos</th>
    <th>Date d'ajout</th>
    <th>Supprimer</th>
    </tr>
{% for filesAll in listFile %}
    <tr>
        <td>{{ filesAll.name }}</td>
        <td>{{ filesAll.sizeF }}</td>
        <td>{{ filesAll.time }}</td>
        <td><a href="index.php?action=deleteF&amp;file={{ filesAll.path }}">Supprimer</a></td>
    </tr>
{% endfor %}
</table>  
</div>

</div>