  <div class=".container-fluid">
  <div class="row">
    <div class="footer">
      {{ site_name }} - Copyright - 2018 - {{ site_author }} - <a href="index.php?action=legal">Mentions légales</a> - <a href="index.php?action=about">A propos</a>
      </div>
</div>
</div>
    
