  <div class=".container-fluid">
  <div class="row">
    <div class="footer">
      5Project - Copyright - 2018 - Patrice Andreani - <a href="index.php?action=legal">Mentions légales</a> - <a href="index.php?action=about">A propos</a>
      </div>
</div>
</div>
    
