<div id="menu">
<nav class="navbar navbar-expand-md navbar-dark navbar-my fixed-top" >
      
      <a class="navbar-brand" href="index.php?action=infos">5Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.php?action=infos"><i class="fas fa-home"></i> Accueil <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="index.php?action=administration">Administration</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="index.php?action=legal">Mentions légales</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="index.php?action=about">A propos</a>
          </li>
        </ul>
      </div>
    </nav>
</div>



<div class="header">
<div class=".container-fluid">
  <div class="row">
      
    <div class="col-sm-6 bloc-column">     

<div class="title">
<h1>5Project</h1>
</div>

      </div>  
      
      <div class="col-sm-6 bloc-column">
      <p><div id="dateJ">
        </div></p>
        
      </div>
        
      </div>
    </div>
    </div>
    
