{% extends 'base.html.twig' %}

{% block title %}5Project - Connexion{% endblock %}

{% block content %}

<main role="main" class="container-fluid">

<div class="formulaireLogin">

<!-- Formulaire de connexion à l'administration -->
<p>Veuillez entrer vos identifiants pour vous connecter :</p>

        <form action="index.php?action=logAdminB" method="post">
        <div class="form-group">
        <label for="identifiant">Identifiant</label>
            <input id="identifiant" type="text" name="login" class="form-control" placeholder="Identifiant" pattern="[A-Za-z]{1,10}" title="Uniquement des lettres" required /></p>
            </div>
            <div class="form-group">
            <label for="mdp">Mot de passe</label>
            <input type="password" id="mdp" title="mot de passe" class="form-control" name="pass" placeholder="Mot de passe" required /></p>
            </div>
            <div class="form-check">
            <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>
</div>

</main>

{% endblock %}