{% extends 'base.html.twig' %}

{% block importJS %}
{% endblock %}

{% block title %}5Project - Création d'utilisateur{% endblock %}

{% block content %}

<main role="main" class="container-fluid">

</div>
</div>
</div>

  <div class=".container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="p-3 bg-info text-white"><h2>Administration</h2></div>
        <p><h4>Utilisateurs</h4></p>
<p>
{% if session.login is defined and session.login is not null%}
Connecté : {{ session.login }}
{% endif %}
</p>
    <p><a href="index.php?action=logout">Se déconnecter</a></p>
    <p><a href="index.php?action=gestionU">Gérer les utilisateurs</a></p>
    <p><a href="index.php?action=creationUser">Créer un utilisateur</a></p>
    </div>

    <div class="col-9">
      <div class="p-3 mb-2 bg-info text-white"><h2>Informations</h2></div>

<div class="formulaireCreation">

<!-- Formulaire de création de compte -->
<p>Veuillez entrer un identifiant, un mail et un mot de passe pour votre compte :</p>

        <form action="index.php?action=createUser" method="post">
        <div class="form-group">
            <label for="id">Identifiant</label>
            <input type="text" class="form-control" name="login" placeholder="Identifiant" pattern="[A-Za-z]{1,10}" title="Uniquement des lettres" required /></p>
        </div>    
        <div class="form-group">
        <label for="id">Mail</label>   
            <input type="email" class="form-control" name="mail" placeholder="Votre email" required maxlenght="50" title="Donner un mail valide" /></p>
        </div>
        <div class="form-group">
        <label for="id">Mot de passe</label>    
            <input type="password" class="form-control" name="pass" placeholder="Mot de passe" pattern="[a-zA-Z0-9-]+" title="Minimum 8 charactères" required /></p>
        </div>
        <div class="form-group">
        <label for="id">Retapper le mot de passe</label>   
            <input type="password" class="form-control" name="pass2" placeholder="Mot de passe" required /></p>
        </div>
            <div class="form-check">
            <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>
</div>

</div>
  </div>
  
  <div class=".container-fluid">
  <div class="row">
    
</div>
</div>
    
</main>

{% block js %}
    <script src="js/date.js"></script>
    <script src="js/browser.js"></script>
{% endblock %}

  </div>
  </div>
    
{% endblock %}