<div class="p-3 bg-success text-white"><h5><i class="fas fa-envelope"></i> Envoie de mail</h5></div>

<div id="fonct">

<form action="index.php?action=mail" method="post">    
        <div class="form-group">
        <label for="sujet">Sujet</label>   
            <input id="sujet" type="text" class="form-control" name="sujet" placeholder="Sujet du mail" maxlenght="80" pattern="[[a-zA-Z ]{5,}" title="Sujet de votre mail, uniquement des lettres" required/></p>
        </div>
        <div class="form-group">
            <label for="destinataire">Destinataire</label>
            <input id="destinataire" type="email" class="form-control" name="destinataire" placeholder="Destinataire" maxlenght="80" title="Destinataire" required /></p>
        </div>
        <div class="form-group">
            <label for="message">Votre message</label>
            <textarea id="message" name="message" class="form-control" placeholder="Votre message" rows="10" cols="40" maxlenght="150" title="Tappez votre message" required></textarea>
        </div>
            <div class="form-check">
            <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>

</div>