<div class="p-3 mb-2 bg-info text-white"><h5>Flux RSS : <?php echo SITE_RSS ?></h5></div>
<div class="fonct">

<ul>
{% for rss in allRss %}

<li>Titre : <a href="{{ rss.link }}">{{ rss.title }}</a></li>
    Date : {{ rss.date }}<br>
    Description : {{ rss.description|raw }}
    <br><br>
{% endfor %}
</ul>
<br>

</div>
</div>
