<div class="p-3 bg-info text-white"><h5>Flux RSS</h5></div>
<!-- <div class="fonct"> -->
<div id="fonct">

<ul>
{% for feed in rss %}

<li>Titre : <a href="{{ feed.link }}">{{ feed.title }}</a></li>
    Date : {{ feed.date }}<br>
    Description : {{ feed.description|raw }}
    <br><br>
{% endfor %}
</ul>
<br>

</div>
<!-- </div> -->
